body {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("/images/movie-posters.jpg");
    background-size: cover;
    width: 100%;
    min-height: 35dvh;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: space-around;

}

h1, h2 {
    padding: 20px;

    text-shadow: 0 0 10px orange;
}

h1 {
    font-size: 42px;
}

h1 a, h2 a {
    text-decoration: none;
    color: white;
}

h2 {
    font-size: 20px;
}

.search-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 80%;
    max-width: 650px;
}

.search-icon {
    width: 15px;
    position: absolute;
    left: 15px;
    right: 0px;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-input {
    padding: 20px 5px 20px 40px;
    width: 70%;
    border-radius: 10px 0 0 10px;
    border: 1px solid grey;
    font-size: 16px;
}

button {
    padding: 20px 40px 20px 20px;
    width: 30%;
    border-radius: 0 10px 10px 0;
    border: 1px solid grey;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color: lightgoldenrodyellow;
    cursor: pointer;

}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

.movie-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65dvh;
    margin: 0 20px;
}

#movie-list {
    padding: 30px 0;
}

.icon-film {
    width: 70px;
    margin: 0 auto;
}

.placeholder-text, .error-text {
    display: block;
    color: lightgrey;
    font-weight: bold;
    font-size: 20px;
}

.movie {
    display: flex;
    padding: 20px 0 ;
    border-bottom: 1px solid grey;
}

.poster {
    width: 100px;
    height: 149px;
    margin: 0 20px 0 0;    
}

.movie-headline {
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-bottom: 5px;
}

.movie-title {
    margin: 0;
    padding-right: 5px;
    font-size: 20px;
}

.movie-year {
    font-style: italic;
    padding-right: 10px;
}

.star-icon, .plus-icon, .minus-icon {
    width: 15px;
    height: 15px;
    padding-right: 5px;
}

.movie .rating {
    cursor: pointer;
}

/* .movie-details {
    display: flex; < == for LARGE screens
} */

.movie-details p {
    margin: 1px;
}

.runtime, .genre {
    font-size: 14px;
}

.genre {
    font-style: italic;
}

.add-movie, .remove-movie {
    margin: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.remove-movie {
    color: darkgray;
}

.movie-plot {
    margin: 0;
}

#my-movie-list .placeholder-text,
#add-movie {
    text-align: center;
    font-weight: bold;
}

.empty-list {
    text-decoration: none;
    color: black;
    font-size: 18px;
}